 .u-section-1 {
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/servers-intro-min.png'), linear-gradient(to right, #db545a, #f1c50e);
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 697px;
}

.u-section-1 .u-group-1 {
  width: 582px;
  min-height: 495px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 40px 40px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 40px 0 0;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 400;
  font-style: normal;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 100% 50%, 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-group-1 {
    width: 550px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 38.13% 50%, 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }
} .u-section-2 {
  background-repeat: no-repeat;
}

.u-section-2 .u-sheet-1 {
  min-height: 615px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 400;
  margin: 51px 267px 0 371px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 468px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 28px 29px;
}

.u-section-2 .u-image-1 {
  --radius: 10px;
  width: 591px;
  height: 383px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 65px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: -354px 1px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-line-1 {
  width: 396px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-line-2 {
  width: 396px;
  transform-origin: left center;
  height: 1px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
    background-size: cover;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-2 .u-text-1 {
    width: 398px;
    margin-left: 271px;
    margin-right: 167px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-2 .u-image-1 {
    width: 334px;
    height: 350px;
    margin-top: 27px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -350px;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 334px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-line-2 {
    width: 334px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 161px;
    margin-right: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 38px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 17px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -340px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-weight: 700;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 373px;
    margin: 10px -33px 30px auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 368px;
    width: 373px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: -10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    font-weight: 700;
    width: auto;
    margin-top: -339px;
    margin-right: -8px;
    margin-left: 12px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 20px;
  }

  .u-section-2 .u-line-1 {
    width: 353px;
    margin-top: 8px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 21px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 10px;
    margin-left: 20px;
  }

  .u-section-2 .u-line-2 {
    width: 353px;
    margin-top: 40px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 11px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 7px;
    margin-left: 20px;
  }
}